@model EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ürün Ekle</h4>
        <form method="post" class="forms-sample">
            <div class="form-group">
                <label>Ad</label>
                <input type="text" asp-for="name" class="form-control" placeholder="Ad" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Değer</label>
                <input type="number" asp-for="value" class="form-control" placeholder="Değer" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>           
            <button class="btn btn-outline-info">Ekle</button>
        </form>
    </div>
</div>