@model EntityLayer.Concrete.Employee

@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Çalışan Güncelle</h4>
        <form method="post" class="forms-sample">
            @Html.HiddenFor(x=>x.EmployeeId)
            <div class="form-group">
                <label>Ad Soyad</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Ad Soyad" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Pozisyon</label>
                <input type="text" asp-for="Position" class="form-control" placeholder="Pozisyon" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Görsel Yolu</label>
                <input type="text" asp-for="ImageUrl" class="form-control" placeholder="Görsel Yolu" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Facebook Yolu</label>
                <input type="text" asp-for="FacebookUrl" class="form-control" placeholder="Facebook Yolu" />
            </div>
            <div class="form-group">
                <label>Instagram Yolu</label>
                <input type="text" asp-for="InstagramUrl" class="form-control" placeholder="Instagram Yolu" />
            </div>
            <div class="form-group">
                <label>Twitter Yolu</label>
                <input type="text" asp-for="TwitterUrl" class="form-control" placeholder="Twitter Yolu" />
            </div>
            <div class="form-group">
                <label>LinkedIn Yolu</label>
                <input type="text" asp-for="LinkedInUrl" class="form-control" placeholder="LinkedIn Yolu" />
            </div>
            <button class="btn btn-outline-success">Güncelle</button>
        </form>
    </div>
</div>